<!DOCTYPE html>
<html>
<head>
	<script src="./mathFunctions.js"></script>
	<title>W09 TEACH Math Page</title>
</head>
<body>
	<h1>Welcome to the W09 TEACH [Results] Math Page</h1>
	<p>(here is your result)</p>
	<form>
		Result<br/>
		<input id="result" value="<%= result %>"/>
	</form>
	<h2>Ready for some more math?</h2>
	<a class="button-clickhere" href="/">Click Here to Try Again</a>
</body>
</html>