<!DOCTYPE html>
<html>
<head>
	<script src="./mathFunctions.js"></script>
	<title>W09 TEACH Math Page</title>
</head>
<body>
<h1>Welcome to the W09 TEACH Math Page</h1>
<p>(cool math stuff goes here.)</p>
<form action="/math">
	Num 1<br/>
	<input id="num1" name="num1"/><br/>
	Num 2<br/>
	<input id="num2" name="num2"/><br/>
	<br/>
	<br/>
	<button name="submit" value="Add">Add</button>
	<button name="submit" value="Subtract">Subtract</button>
	<button name="submit" value="Divide">Divide</button>
	<button name="submit" value="Multiply">Multiply</button>
</form>
</body>
</html>